<!DOCTYPE html>
<html lang='en'>
	<head>
		<!-- Misc -->
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon' href='/favicon.ico">
		
		<!-- CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/base.css" rel="stylesheet">
		{%- block CSS %}{% endblock -%}
	</head>
	<body>
		<!-- Page Content -->
		{%- block CONTENT %}{% endblock %}

		<!-- Scripts -->
		<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		{%- block SCRIPTS %}{% endblock -%}
	</body>
</html>
