{% extends "base.html" %}

{% block CSS %}
<link href="/css/starter-template.css" rel="stylesheet">
<link href="/css/tripPlan.css" rel="stylesheet">
{% endblock %}

{% block CONTENT %}

{% include "navBar.html" %}

<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-4" id="controls">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a href="#past" data-toggle="tab"><span class="glyphicon glyphicon-globe"></span>  My Past Travels</a></li>
				<li><a href="#planned" data-toggle="tab"><span class="glyphicon glyphicon-plane"></span>  My Travel Plans</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">

				<!-- Past Trips Pane -->
				<div class="tab-pane active fade in" id="past">
					
					<!-- Control bar at top of past trips pane -->
					<nav class="navbar navbar-default" role="navigation">
						<div class="container-fluid">
							<div class="navbar-header">
								<a class="navbar-brand" href="#">Select a trip</a>
							</div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Trips <b class="caret"></b></a>
										<ul class="dropdown-menu" id="tripList">
											<li><a href="#">Example</a></li>
										</ul>
									</li>
								</ul>
							  <form class="navbar-form navbar-right">
							    <button class="btn btn-default" id="createNewPast">Create new</button>
							  </form>
							</div><!-- /.navbar-collapse -->
						</div><!-- /.container-fluid -->
					</nav>

				</div><!-- /.Past Trips Pane -->

				<!-- Planned Trips Pane -->
				<div class="tab-pane fade" id="planned">

					<!-- Control bar at top of planned trips pane -->
					<nav class="navbar navbar-default" role="navigation">
						<div class="container-fluid">
							<div class="navbar-header">
								<a class="navbar-brand" href="#">Select a plan</a>
							</div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Plans <b class="caret"></b></a>
										<ul class="dropdown-menu" id="planList">
											<li><a href="#">Example</a></li>
										</ul>
									</li>
								</ul>
							  <form class="navbar-form navbar-right">
							    <button class="btn btn-default" id="createNewPlanned">Create new</button>
							  </form>
							</div><!-- /.navbar-collapse -->
						</div><!-- /.container-fluid -->
					</nav>
				</div> <!-- /.Planned Trips Page -->
			</div>

		</div><!-- /.controls -->

		<div class="col-md-8">
			<div class="google-map-canvas" id="mapCanvas">hi</div>
		</div><!-- /.map -->

	</div><!-- /.row -->
</div><!-- /.container-fluid -->

{% endblock %}

{% block SCRIPTS %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhj8mHiWoVp_RptJBMiKk1bFP3r3yS5fo&sensor=false"></script>
<script src="/js/map.js"></script>
{% endblock %}
