{% extends "base.html" %}

{% block CSS %}
<link href="/css/starter-template.css" rel="stylesheet">
<link href="/css/tripPlan.css" rel="stylesheet">
<link href="/css/datepicker.css" rel="stylesheet">
{% endblock %}

{% block CONTENT %}

{% include "navBar.html" %}
<div class="container-fluid">
	<div class="row">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
			<li class="active"><a href="#pastTab" data-toggle="tab"><span class="glyphicon glyphicon-globe"></span>  My Past Travels</a></li>
			<li><a href="#plannedTab" data-toggle="tab"><span class="glyphicon glyphicon-plane"></span>  My Travel Plans</a></li>
			<li><a href="#othersTab" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> Find Travel Buddies</a></li>
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">

			<!-- Past Trips Pane -->
			<div id="pastTab" class="tab-pane active fade in">
				<div id="past" class="col-md-4">
					<!-- Control bar at top of past trips pane -->
					<nav class="navbar navbar-default" role="navigation">
						<div class="container-fluid">
							<div class="navbar-header">
								<a class="navbar-brand" id="tripName">Select a trip</a>
							</div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Trips <b class="caret"></b></a>
										<ul class="dropdown-menu" id="tripList">
											<!--<li><a href="#">Example</a></li>-->
										</ul>
									</li>
								</ul>
							    <a href="#" type="button" class="btn btn-default navbar-btn pull-right" id="createNewPast">Create new</a>
							</div><!-- /.navbar-collapse -->
						</div><!-- /.container-fluid -->
					</nav>
				</div>

				<div class="col-md-8">
					<div id='chart_div' class='map'></div>
				</div><!-- /.map -->

			</div><!-- /.Past Trips Pane -->

			<!-- Planned Trips Pane -->
			<div id="plannedTab" class="tab-pane fade">
				<div id="planned" class="col-md-4">
					<!-- Control bar at top of planned trips pane -->
					<nav class="navbar navbar-default" role="navigation">
						<div class="container-fluid">
							<div class="navbar-header">
								<a class="navbar-brand" href="#">Select a plan</a>
							</div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Plans <b class="caret"></b></a>
										<ul class="dropdown-menu" id="planList">
											<!--<li><a href="#" id="exampleTrip">Example</a></li>-->
										</ul>
									</li>
								</ul>
							  <form class="navbar-form navbar-right">
							    <button class="btn btn-default" id="createNewPlanned">Create new</button>
							  </form>
							</div><!-- /.navbar-collapse -->
						</div><!-- /.container-fluid -->
					</nav>
				</div>

				<div class="col-md-8">
					<div id='chart_div2' class='map'></div>
				</div><!-- /.map -->

			</div> <!-- /.Planned Trips Page -->

			<!-- Others Trips Pane -->
			<div id="othersTab" class="tab-pane fade">
				<div id="others" class="col-md-4">

				</div>

				<div class="col-md-8">
					<div id='chart_div3' class='map'></div>
				</div><!-- /.map -->

			</div> <!-- /.Planned Trips Page -->

		</div><!-- /.Tab panes -->

		<!-- Trip template -->
		<div id="tripTemplate">
			<div class="panel panel-default">

				<div class="panel-heading">
					<h3 class="panel-title">Add your trip details</h3>
				</div><!-- /.panel-heading -->

				<div class="panel-body">
					<h4>Trip Overview</h4>
					<div class="input-group">
						<span class="input-group-addon">Name</span>
						<input type="text" class="form-control" placeholder="My Trip name" id="newTripName">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Destination</span>
						<input type="text" class="form-control" placeholder="Pick from map" id="destination" disabled>
					</div>
					<!-- Date panel -->
					<table class="table">
						<thead>
							<tr>
								<th>Start date  <a href="#" type="button" class="btn btn-sm" id="dp4" data-date-format="yyyy-mm-dd" data-date="2013-01-01">Change</a></th>
								<th>End date  <a href="#" type="button" class="btn btn-sm" id="dp5" data-date-format="yyyy-mm-dd" data-date="2014-01-01">Change</a></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="startDate">2013-01-01</td>
								<td id="endDate">2014-01-01</td>
							</tr>
						</tbody>
					</table>
					<!-- Alert -->
					<div class="alert alert-error" id="alert">
						<strong>Oh snap!</strong>
					</div>
					<!-- /.Date panel -->

					<!-- Details -->
					<h4>Trip Details</h4>
					<h5>Things I did</h5>
					<textarea class="form-control" id="activities" rows="3"></textarea>
					<h5>My Recommendations</h5>
					<textarea class="form-control" id="recommendations" rows="3"></textarea>
					<p>
						<ul class="nav nav-pills">
							<li class="active" id="leftoverFalse"><a href="#" data-toggle="pill">I don't have leftover currency</a></li>
							<li id="leftoverTrue"><a href="#" data-toggle="pill">I have leftover currency</a></li>
						</ul>
					</p>

					<!-- Save Button -->
					<button type="button" class="btn btn-success btn-lg" id="save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
				</div><!-- /.panel-body -->
			</div><!-- /.panel -->
		</div><!-- /.TripTemplate -->

		<!-- Planned Trip template -->
		<div id="plannedTripTemplate">
			<div class="panel panel-default">

				<div class="panel-heading">
					<h3 class="panel-title">Add your trip details</h3>
				</div><!-- /.panel-heading -->

				<div class="panel-body">
					<h4>Trip Overview</h4>
					<div class="input-group">
						<span class="input-group-addon">Name</span>
						<input type="text" class="form-control" placeholder="My Trip name" id="newTripName">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Destination</span>
						<input type="text" class="form-control" placeholder="Pick from map" id="destination" disabled>
					</div>
					<!-- Date panel -->
					<table class="table">
						<thead>
							<tr>
								<th>Start date  <a href="#" type="button" class="btn btn-sm" id="dp4" data-date-format="yyyy-mm-dd" data-date="2013-01-01">Change</a></th>
								<th>End date  <a href="#" type="button" class="btn btn-sm" id="dp5" data-date-format="yyyy-mm-dd" data-date="2014-01-01">Change</a></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="startDate">2013-01-01</td>
								<td id="endDate">2014-01-01</td>
							</tr>
						</tbody>
					</table>
					<!-- Alert -->
					<div class="alert alert-error" id="alert">
						<strong>Oh snap!</strong>
					</div>
					<!-- /.Date panel -->

					<!-- Details -->
					<h4>Trip Details</h4>
					<h5>Things I want to do</h5>
					<textarea class="form-control" id="activities" rows="3"></textarea>
					<h5>Travel Style</h5>
					<textarea class="form-control" id="travelStyle" rows="3"></textarea>

					<!-- Save Button -->
					<button type="button" class="btn btn-success btn-lg" id="save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
				</div><!-- /.panel-body -->
			</div><!-- /.panel -->
		</div><!-- /.TripTemplate -->


	</div><!-- /.row -->
</div><!-- /.container-fluid -->
{% endblock %}

{% block SCRIPTS %}
<!-- OLD MAP
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhj8mHiWoVp_RptJBMiKk1bFP3r3yS5fo&sensor=false&libraries=places"></script> 
-->
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/map.js"></script>
{% endblock %}