{% extends "base.html" %}

{% block CSS %}
<link href="/css/starter-template.css" rel="stylesheet">
{% endblock %}

{% block CONTENT %}

{% include "navBar.html" %}
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div> <!-- centre options -->
		<div class="col-md-4" id="options">
			
			<div class="panel panel-default">

				<div class="panel-heading">
					<h3 class="panel-title">Options</h3>
				</div><!-- /.panel-heading -->

				<div class="panel-body">
					<h4>About you</h4>
					<div class="input-group">
						<span class="input-group-addon">Username</span>
						<input type="text" class="form-control" placeholder="Username" id="username">
					</div>
					<div class="input-group">
						<span class="input-group-addon">City</span>
						<input type="text" class="form-control" placeholder="City (optional)" id="city">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Country</span>
						<input type="text" class="form-control" placeholder="Country" id="country">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Email</span>
						<input type="text" class="form-control" placeholder="you@example.com" id="email">
					</div>
					<h4>Who do you want to interact with?</h4>
					<ul class="nav nav-pills">
						<li class="active" id="public"><a href="#" data-toggle="pill">Share with anyone</a></li>
						<li id="group"><a href="#" data-toggle="pill">Share within my groups</a></li>
						<li id="private"><a href="#" data-toggle="pill">Share with no-one</a></li>
					</ul>

				</div><!-- /.panel-body -->

			</div><!-- /.panel -->

			<div class="row">

				<div class="col-md-11">
					<div class="alert alert-success" id="alertSuccess">
						<strong>Success!</strong> Changes have been saved.
					</div>

					<div class="alert alert-danger" id="alertFailure">
						<strong>Uh-oh!</strong> You need to enable localStorage to save your options.
					</div>
				</div>

				<div class="col-md-1">
					<button type="button" class="btn btn-success btn-lg" id="saveAll"><span class="glyphicon glyphicon-floppy-disk"></span></button>
					<button type="button" class="btn btn-danger btn-sm" id="deleteAll"><span class="glyphicon glyphicon-exclamation-sign"></span></button>
				</div>

			</div><!-- /.row (nested) -->
		</div><!-- /.options -->
		<div class="col-md-4"></div> <!-- centre options -->
	</div><!-- /.row -->
</div><!-- /.container-fluid -->
</body>
{% endblock %}

{% block SCRIPTS %}
<script src="/js/options.js"></script>
{% endblock %}
