.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#saveAll {
	float: right;
}
#deleteAll {
	margin-top: 540px;
	float: right;
}
.input-group-addon {
    min-width: 200px;
    text-align: center;
}